#ajaxStatusTable {
    border-collapse: collapse;
}

#ajaxStatusTable td {
    border: solid 1px #808080;
}

#ajaxStatusTable .header {
    font-weight: bold;
}

#ajaxStatusTable .column {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

#ajaxStatusTable .column div.ui-selectonemenu {
    vertical-align: middle;
}

#ajaxIndicatorTable {
    border-collapse: collapse;
    clear: both;
}

#ajaxIndicatorTable .column {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}
