#ajaxStatusTable {
    border-collapse: collapse;
}

#ajaxStatusTable td {
    border: solid 1px #808080;
}

#ajaxStatusTable .header {
    font-weight: bold;
}

#ajaxStatusTable .column {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

#ajaxStatusTable .column div.ui-selectonemenu {
    vertical-align: middle;
}

#ajaxIndicatorTable {
    border-collapse: collapse;
    clear: both;
}

#ajaxIndicatorTable .column {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

#sharedTooltipTable th .ui-column-filter {
    display: inline;
    margin-left: 5px;
}

#layoutsSwitcher {
    width: 400px;
    margin-bottom: 8px;
}

#layoutsContainer .ui-menu .ui-menuitem-link {
    width: auto;
}

.levelTitle {
    padding: 4px 6px 4px 6px;
    margin-right: 3px;
}

#personDetail .ui-datalist {
    width: 200px;
}

table .timePickerColumn1 {
    padding: 4px 18px 0 0;
    vertical-align: top;
}

table .timePickerColumn {
    padding: 4px 18px 0 18px;
    vertical-align: top;
}
